/* Avocado scheme */
:root {
    --color-neutral: 255, 255, 255;
    /* Stone */
    --color-neutral-50: 250, 250, 249;
    --color-neutral-100: 245, 245, 244;
    --color-neutral-200: 231, 229, 228;
    --color-neutral-300: 214, 211, 209;
    --color-neutral-400: 168, 162, 158;
    --color-neutral-500: 120, 113, 108;
    --color-neutral-600: 87, 83, 78;
    --color-neutral-700: 68, 64, 60;
    --color-neutral-800: 41, 37, 36;
    --color-neutral-900: 28, 25, 23;
  /* Emerald */
  --color-primary-50: 236, 253, 245;
  --color-primary-100: 209, 250, 229;
  --color-primary-200: 167, 243, 208;
  --color-primary-300: 110, 231, 183;
  --color-primary-400: 52, 211, 153;
  --color-primary-500: 16, 185, 129;
  --color-primary-600: 5, 150, 105;
  --color-primary-700: 4, 195, 87;  /*light - color text. Default 4 120 87*/
  --color-primary-800: 6, 95, 70;
  --color-primary-900: 6, 78, 59;

  --color-secondary-50: 236, 253, 245;
  --color-secondary-100: 209, 250, 229;
  --color-secondary-200: 167, 243, 208;
  --color-secondary-300: 110, 231, 183;
  --color-secondary-400: 50, 211, 153; 
  --color-secondary-500: 16, 185, 129;
  --color-secondary-600: 5, 150, 105;
  --color-secondary-700: 4, 195, 87;  /*light - links. Default 4 120 87*/
  --color-secondary-800: 6, 95, 70;
  --color-secondary-900: 6, 78, 59; 
  }



  /* Emerald */
  /* --color-primary-50: 236, 253, 245;
  --color-primary-100: 209, 250, 229;
  --color-primary-200: 167, 243, 208;
  --color-primary-300: 110, 231, 183;
  --color-primary-400: 52, 211, 153;
  --color-primary-500: 16, 185, 129;
  --color-primary-600: 5, 150, 105;
  --color-primary-700: 4, 120, 87;
  --color-primary-800: 6, 95, 70;
  --color-primary-900: 6, 78, 59;

  --color-secondary-50: 236, 253, 245;
  --color-secondary-100: 209, 250, 229;
  --color-secondary-200: 167, 243, 208;
  --color-secondary-300: 110, 231, 183;
  --color-secondary-400: 52, 211, 153;
  --color-secondary-500: 16, 185, 129;
  --color-secondary-600: 5, 150, 105;
  --color-secondary-700: 4, 120, 87;
  --color-secondary-800: 6, 95, 70;
  --color-secondary-900: 6, 78, 59; */ 


    /* Lime */
    /* --color-primary-50: 247, 254, 231;
    --color-primary-100: 236, 252, 203;
    --color-primary-200: 217, 249, 157;
    --color-primary-300: 190, 242, 100;
    --color-primary-400: 163, 230, 53;
    --color-primary-500: 132, 204, 22;
    --color-primary-600: 101, 163, 13;
    --color-primary-700: 77, 124, 15;
    --color-primary-800: 63, 98, 18;
    --color-primary-900: 54, 83, 20;

    --color-secondary-50: 247, 254, 231;
    --color-secondary-100: 236, 252, 203;
    --color-secondary-200: 217, 249, 157;
    --color-secondary-300: 190, 242, 100;
    --color-secondary-400: 163, 230, 53;
    --color-secondary-500: 132, 204, 22;
    --color-secondary-600: 101, 163, 13;
    --color-secondary-700: 77, 124, 15;
    --color-secondary-800: 63, 98, 18;
    --color-secondary-900: 54, 83, 20; */





/* Default */

    /* --color-neutral: 255, 255, 255; */
    /* Stone */
    /* --color-neutral-50: 250, 250, 249;
    --color-neutral-100: 245, 245, 244;
    --color-neutral-200: 231, 229, 228;
    --color-neutral-300: 214, 211, 209;
    --color-neutral-400: 168, 162, 158;
    --color-neutral-500: 120, 113, 108;
    --color-neutral-600: 87, 83, 78;
    --color-neutral-700: 68, 64, 60;
    --color-neutral-800: 41, 37, 36;
    --color-neutral-900: 28, 25, 23; */
    /* Lime */
    /* --color-primary-50: 247, 254, 231;
    --color-primary-100: 236, 252, 203;
    --color-primary-200: 217, 249, 157;
    --color-primary-300: 190, 242, 100;
    --color-primary-400: 163, 230, 53;
    --color-primary-500: 132, 204, 22;
    --color-primary-600: 101, 163, 13;
    --color-primary-700: 77, 124, 15;
    --color-primary-800: 63, 98, 18;
    --color-primary-900: 54, 83, 20; */
    /* Emerald */
    /* --color-secondary-50: 236, 253, 245;
    --color-secondary-100: 209, 250, 229;
    --color-secondary-200: 167, 243, 208;
    --color-secondary-300: 110, 231, 183;
    --color-secondary-400: 52, 211, 153;
    --color-secondary-500: 16, 185, 129;
    --color-secondary-600: 5, 150, 105;
    --color-secondary-700: 4, 120, 87;
    --color-secondary-800: 6, 95, 70;
    --color-secondary-900: 6, 78, 59; */




